// Text Colors
$textcolor1: #333333;
$textcolor2: #FFFFFF;

// Main Colors
$maincolor1: #6E551B;
$maincolor2: #3C2F10;

// base Colors
$basecolor1: #FFFFFF;
$basecolor2: #E2DDD1;

// Accent Colors
$accentColor1: #23460F;

// Ovarlay Colors
$overlay1: rgba(60, 47, 16, 0.3);  // 3C2F10, 30%
$overlay2: rgba(255, 255, 255, 0.85);  // FFFFFF, 85%

// Font Variables
$caslon:"Libre Caslon Text";
$serif:"Noto Serif JP";
$sans:"Noto Sans JP";

$mainColor1: #333;
$textColor2: #fff;
$sans: 'Noto Sans JP', sans-serif;
